<%- include('partials/header'); -%>

<div class="text-center">
    <h1>World</h1>
</div>

<% const date = new Date(worldData["Date"]) %>
<% const dateOptions = { year: 'numeric', month: 'long', day: 'numeric' } %>
<% const formatedDate = date.toLocaleDateString("en-GB", dateOptions) %>
<div class="row text-center">
    <div class="col">
        <h2>Last Updated On : <%= formatedDate %></h2>
    </div>
</div>

<div class="row text-center">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card m-2 newConfirmed">
            <div class="card-body">
                <h4 class="card-title">New Cases</h4>
                <p class="card-text number"><%= worldData["Global"]["NewConfirmed"].toLocaleString() %></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card m-2 totalConfirmed">
            <div class="card-body">
                <h4 class="card-title">Total Cases</h4>
                <p class="card-text number"><%= worldData["Global"]["TotalConfirmed"].toLocaleString() %></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card m-2 newDeaths">
            <div class="card-body">
                <h4 class="card-title">New Deaths</h4>
                <p class="card-text number"><%= worldData["Global"]["NewDeaths"].toLocaleString() %></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card m-2 totalDeaths">
            <div class="card-body">
                <h4 class="card-title">Total Deaths</h4>
                <p class="card-text number"><%= worldData["Global"]["TotalDeaths"].toLocaleString() %></p>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover text-center">
    <thead>
        <tr class="bg-info text-white">
            <th scope="col" class="column1">Sno.</th>
            <th scope="col" class="column2">Country</th>
            <th scope="col">New Cases</th>
            <th scope="col">Total Cases</th>
            <th scope="col">New Deaths</th>
            <th scope="col">Total Deaths</th>
        </tr>
    </thead>

    <tbody>
        <% for(var i=0;i< worldData["Countries"].length;i++){ %>
        <tr>
            <th scope="row" class="column1"><%= i+1 %></th>
            <td class="column2"><%= worldData["Countries"][i]["Country"] %></td>
            <td><%= worldData["Countries"][i]["NewConfirmed"].toLocaleString() %></td>
            <td><%= worldData["Countries"][i]["TotalConfirmed"].toLocaleString() %></td>
            <td><%= worldData["Countries"][i]["NewDeaths"].toLocaleString() %></td>
            <td><%= worldData["Countries"][i]["TotalDeaths"].toLocaleString() %></td>
        </tr>
        <% } %>
    </tbody>
</table>

<%- include('partials/footer'); -%>